---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Basic color palette
$magenta-color:    #9e75c7; // iTerm is #e4a1cd;
$cyan-color:       #56b6c2; // iTerm is #9bd8db;
$blue-color:       #a9c5de;
$green-color:      #9dc8a0; // iTerm is #70be9b;

$text-color:       #dcdccc;
$background-color: #2c2c2c;
$brand-color:      $blue-color; // #2a7ae2; // for links

$grey-color:       $magenta-color; // #b343de; //purple, was #828282;
$grey-color-light: lighten($grey-color, 10%); // 40%
$grey-color-dark:  darken($grey-color, 15%); // 25%

// Code colors
$code-background:  lighten($background-color, 8%);
$code-border:      lighten($background-color, 4%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
